.container {
    display: grid;
    place-items: center;
    /* Centers both horizontally & vertically */
    height: 100vh;
}

.count-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    width: 250px;
    height: 250px;
    color: white;
    font-size: 30px;
    font-weight: 500;
    background: rgba(0, 0, 255, 0.685);
    border-radius: 8px;
}

button {
    cursor: pointer;
    border-radius: 4px;
    height: 36px;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}