<h3>Problem 1</h3>
<pre>   
    Problem 1: Dynamic Component Loading 
    Task: Create a directive that dynamically loads a component inside a &lt;div&gt; when a button is clicked. 
    Requirements: 
    • Use ViewContainerRef and ComponentFactoryResolver to create the component dynamically. 
    • The component should display a simple message. 
    • Add a button to load the component.
</pre>


<br><br>

<button (click)="loadComponent()">Click to load dynamic component</button>
<div appDynamicLoad></div>